@import url(../../index.css);

.annotation {
  transition: all 0.5s ease-in-out;
  border: 1px solid var(--color-black-800);
  cursor: pointer;
  outline: none;
  font-size: 0.5rem;
  font-weight: 600;
  background: #f5fefd;
  color: var(--color-black-800);
  padding: 0.5rem 0.7rem;
  border-radius: 0.3rem;
}

.annotation:hover {
  box-shadow: inset 250px 0 0 0 var(--color-black-800);
  color: var(--color-snow-white);
}

/* .annotation::before {
    content: '';
    position: absolute;
    top: 3rem;
    transform: rotate(-45deg);
    left: -0.9rem;
    width: 0;
    height: 1px;
    width: 20px;
    background: var(--color-black-800);
  } */

h3 {
  margin: 0;
  margin-bottom: 2px;
  text-transform: lowercase;
}

.skill-display {
  display: flex;
  flex-direction: column;
}

.level,
.level-indicator {
  width: 80px;
  height: 10px;
  background-color: #e6e6e6;
  color: var(--color-middle-gray);
  border-radius: 10px;
  font-size: 0.4rem;
  font-weight: 300;
}

.level-indicator {
  display: flex;
  justify-content: center;
}

.annotation:hover .level {
  background-color: var(--color-snow-white);
}
.annotation:hover .level .level-indicator {
  background-color: var(--color-light-gray);
  color: var(--color-snow-white);
}
